@model CV

@* <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h2>@Model.Skapare</h2>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <h5 class="text-muted">Arbetsplats:</h5>
                        <p class="font-weight-bold">@Model.TidigareErfarenheter</p>
                    </div>
                    <div class="mb-3">
                        <h5 class="text-muted">Beskrivning:</h5>
                        <p>@Model.Kompetenser</p>
                    </div>
                </div>
                <div class="card-footer bg-light text-muted text-center">
                    <a asp-action="CVStart" asp-controller="CVSida" class="btn btn-primary">Tillbaka till CV-lista</a>
                </div>
            </div>
        </div>
    </div>
</div>
 *@
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h2>@Model.Skapare</h2>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <h5 class="text-muted">Arbetsplats:</h5>
                            <p class="font-weight-bold">@Model.TidigareErfarenheter</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="text-muted">Utbildningar:</h5>
                            <p>@Model.Utbildningar</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="text-muted">Beskrivning:</h5>
                            <p>@Model.Kompetenser</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-light text-muted text-center">
                    <a asp-action="CVStart" asp-controller="CVSida" class="btn btn-primary">Tillbaka till CV-lista</a>
                    <a asp-controller="CVSida" asp-action="EditCV" asp-route-id="@User.Identity.Name" class="btn btn-primary">Redigera  CV</a>
                </div>
            </div>
        </div>
    </div>
</div>




